
<!--<!DOCTYPE html>
<html>
    <head>
        <title>WWW.CURUBAPARADISE.COM</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TIPSTERS PROFESIONALES DE TODO EL MUNDO</div>
    </body>
</html>
-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WWW.CURUBAPARADISE.COM</title>
  </head>
  <body>
    <div class="container py-4 px-3 mx-auto">
      <h1>TIPSTERS PROFESIONALES DE TODO EL MUNDO</h1>
    </div>
    <script src="./main.js"></script>
    <script src="js/jquery-3.6.1.min"></script>
    <script src="js/bootstrap.min"></script>
  </body>
</html>